.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e272e;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 25%;
  min-width: 300px;
  padding: 26px;
  border-radius: 5px;
  background: #fff;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  color: #34495e;
  font-size: 40px;
  font-weight: 600;
}
